@font-face {
  font-family: 'Joystix';
  src: url('joystix.ttf') format('truetype');
}

body {
  background: #000;
  color: #fff;
  font-family: 'Joystix';
  margin: 0;
  text-align: center;
}

div {
  width: 340px;
  height: 480px;
  position: relative;
}

table {
  width: 100%;
  text-align: left;
  font-size: 8px;
}

h1 {
  margin: 0;
  font-size: 24px;
}

h2 {
  margin: 0 0 5px 0;
  font-size: 16px;
}

table {
  border-collapse: collapse;
}

tr.current {
  background-color: rgba(255, 255, 255, 0.2);
}

td.time {
  text-align: right;
}

td.over {
  color: #f77;
}

td.under {
  color: #7f7;
}

p#current {
  font-size: 24px;
  text-align: right;
}

img {
  width: 100%;
  height: auto;
  image-rendering: pixelated;
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  opacity: 0.4;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #88f;
}
